<Context>

    <!-- maxTotal: Maximum number of database connections in pool. Make sure you
         configure your mysqld max_connections large enough to handle
         all of your db connections. 100 in this example. Set to -1 for no limit.
         -->

    <!-- maxIdle: Maximum number of idle database connections to retain in pool.
         Set to -1 for no limit.  See also the DBCP documentation on this
         and the minEvictableIdleTimeMillis configuration parameter.
         -->

    <!-- maxWaitMillis: Maximum time to wait for a database connection to become available
         in ms, in this example 30 seconds. An Exception is thrown if
         this timeout is exceeded.  Set to -1 to wait indefinitely.
         -->

    <!-- username and password: MySQL username and password for database connections  -->

    <!-- driverClassName: Class name for the old mm.mysql JDBC driver is
         org.gjt.mm.mysql.Driver - we recommend using Connector/J though.
         Class name for the official MySQL Connector/J driver is com.mysql.jdbc.Driver.
         -->

    <!-- url: The JDBC connection url for connecting to your MySQL database.
         -->

    <!-- removeAbandonedOnBorrow: remove abandoned connections if they exceed the removeAbandonedTimeout, 300s in this example.
         -->

  <Resource name="jdbc/Rubismysql" auth="Container" type="javax.sql.DataSource"
               maxTotal="100" maxIdle="10" maxWaitMillis="30000" removeAbandonedOnBorrow="true"
               username="rubis" password="rubis" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://759bc4be1a76:3306/rubis?autoReconnect=true&amp;useSSL=false"/>



  <!-- example with group replication and Multi-Primary mode, set correctly the host names before to uncomment

      -->
  <!--
   <Resource name="jdbc/Rubismysql" auth="Container" type="javax.sql.DataSource"
               maxTotal="300" maxIdle="30" maxWaitMillis="30000" validationQuery="/* ping */"
               username="rubis" password="rubis" driverClassName="com.mysql.jdbc.ReplicationDriver"
               url="jdbc:mysql://address=(protocol=tcp)(type=master)(host=dockerfiles_rubisdb_1)(port=3306),address=(protocol=tcp)(type=master)(host=dockerfiles_rubisdb_2)(port=3306)/rubis"/>
     -->

   <!-- example with group replication and Multi-Primary mode which uses loadbalancing, set correctly the host names before to uncomment

<Resource name="jdbc/Rubismysql" auth="Container" type="javax.sql.DataSource"
               maxTotal="300" maxIdle="30" maxWaitMillis="30000" validationQuery="/* ping */"
               username="rubis" password="rubis" driverClassName="com.mysql.jdbc.ReplicationDriver"
               url="jdbc:mysql:loadbalancer//dockerfiles_rubisdb_1:3306,dockerfiles_rubisdb_2:3306)/rubis"
/>

    -->

</Context>
